<mat-toolbar color="primary" >
        <mat-toolbar-row class="head">
            <div style="flex-grow: 0.15">
                <img src="assets/images/logo.png" style="background-color: aliceblue;height:70px;width:70px">
            </div>
            <div style="flex-grow: 9.85">
                <span>Post Your Questions</span>
            </div>
        </mat-toolbar-row>
    </mat-toolbar><br>
<mat-accordion>
    <app-questionform *ngFor="let index of questions; " [id]="index" (noError)="handleEventEmitter($event)"></app-questionform><br><br>
</mat-accordion>
<div class="buttons">
<div class="button-row">
    <button mat-flat-button color="primary" id="add" (click)="addQuestion()">Add a Question</button><br><br>
</div>
<div class="button-row">
    <button mat-flat-button color="primary" (click)="onClick()" id="submit">Submit</button>
</div></div><br><br>
<p *ngIf="haserror">you have to give all the required fields</p>
<p *ngIf="hasnoerror" > your questions have been posted successfully</p>

