<div class="head">
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">Post Your Questions</span>
    </nav>
    </div>
<form class="formclass form-group">

   <label for="questionFormControlTA">Problem Statement 1:</label><br>
   <textarea class="form-control" id="questionFormControlTA" name="comment" form="usrform" rows="3"></textarea><br><br>
    <label>Give your options:</label><br>
    <input type="checkbox" name="opt1" value="option1"> <input type="text" name="opt1"><br><br>
    <input type="checkbox" name="opt2" value="option2"> <input type="text" name="opt2"><br><br>
    <input type="checkbox" name="opt3" value="option3"> <input type="text" name="opt3"><br><br>
    <input type="checkbox" name="opt4" value="option4"> <input type="text" name="opt4"><br><br>
    <label>Give a Resource Link for question 1</label><br>
    <input type="text" name="link"><br><br>
    <label>Bloom Level for question 1</label><br>
    <select>
        <option value="1">Knowledge</option>
        <option value="2">Comprehension</option>
        <option value="3">Application</option>
        <option value="4">Analysis</option>
        <option value="5">Synthesis</option>
        <option value="6">Evaluation</option>
      </select><br><br>


    <label for="questionFormControlTA">Problem Statement 2:</label><br>
   <textarea class="form-control" id="questionFormControlTA" name="comment" form="usrform" rows="3"></textarea><br><br>
   <label>Give your options:</label><br>
    <input type="checkbox" name="opt1" value="option1"> <input type="text" name="opt1"><br><br>
    <input type="checkbox" name="opt2" value="option2"> <input type="text" name="opt2"><br><br>
    <input type="checkbox" name="opt3" value="option3"> <input type="text" name="opt3"><br><br>
    <input type="checkbox" name="opt4" value="option4"> <input type="text" name="opt4"><br><br>
    <label>Give a Resource Link for question 2</label><br>
    <input type="text" name="link"><br><br>
    <label>Bloom Level for question 2</label><br>
    <select>
        <option value="1">Knowledge</option>
        <option value="2">Comprehension</option>
        <option value="3">Application</option>
        <option value="4">Analysis</option>
        <option value="5">Synthesis</option>
        <option value="6">Evaluation</option>
      </select><br><br>
   
   
    <label for="questionFormControlTA">Problem Statement 3:</label><br>
   <textarea class="form-control" id="questionFormControlTA" name="comment" form="usrform" rows="3"></textarea><br><br>
   <label>Give your options:</label><br>
    <input type="checkbox" name="opt1" value="option1"> <input type="text" name="opt1"><br><br>
    <input type="checkbox" name="opt2" value="option2"> <input type="text" name="opt2"><br><br>
    <input type="checkbox" name="opt3" value="option3"> <input type="text" name="opt3"><br><br>
    <input type="checkbox" name="opt4" value="option4"> <input type="text" name="opt4"><br><br>
    <label>Give a Resource Link for question 3</label><br>
    <input type="text" name="link"><br><br>
    <label>Bloom Level for question 3</label><br>
    <select>
        <option value="1">Knowledge</option>
        <option value="2">Comprehension</option>
        <option value="3">Application</option>
        <option value="4">Analysis</option>
        <option value="5">Synthesis</option>
        <option value="6">Evaluation</option>
      </select><br><br>


    <label for="questionFormControlTA">Problem Statement 4:</label><br>
   <textarea class="form-control" id="questionFormControlTA" name="comment" form="usrform" rows="3"></textarea><br><br>
   <label>Give your options:</label><br>
    <input type="checkbox" name="opt1" value="option1"> <input type="text" name="opt1"><br><br>
    <input type="checkbox" name="opt2" value="option2"> <input type="text" name="opt2"><br><br>
    <input type="checkbox" name="opt3" value="option3"> <input type="text" name="opt3"><br><br>
    <input type="checkbox" name="opt4" value="option4"> <input type="text" name="opt4"><br><br>
    <label>Give a Resource Link for question 4</label><br>
    <input type="text" name="link"><br><br>
    <label>Bloom Level for question 4</label><br>
    <select>
        <option value="1">Knowledge</option>
        <option value="2">Comprehension</option>
        <option value="3">Application</option>
        <option value="4">Analysis</option>
        <option value="5">Synthesis</option>
        <option value="6">Evaluation</option>
      </select><br><br>


    <label for="questionFormControlTA">Problem Statement 5:</label><br>
   <textarea class="form-control" id="questionFormControlTA" name="comment" form="usrform" rows="3"></textarea><br><br>

    <label>Give your options:</label><br>
    <input type="checkbox" name="opt1" value="option1"> <input type="text" name="opt1"><br><br>
    <input type="checkbox" name="opt2" value="option2"> <input type="text" name="opt2"><br><br>
    <input type="checkbox" name="opt3" value="option3"> <input type="text" name="opt3"><br><br>
    <input type="checkbox" name="opt4" value="option4"> <input type="text" name="opt4"><br><br>
     <label>Give a Resource Link for question 5</label><br>
    <input type="text" name="link"><br><br>
    <label>Bloom Level for question 5</label><br>
    <select>
        <option value="1">Knowledge</option>
        <option value="2">Comprehension</option>
        <option value="3">Application</option>
        <option value="4">Analysis</option>
        <option value="5">Synthesis</option>
        <option value="6">Evaluation</option>
      </select><br><br>
  </form>
