<form>
    <mat-form-field>
      <mat-select placeholder="Technology" [(ngModel)]="selectedValue" (selectionChange) = "getTopics()"  name="technology">
        <mat-option *ngFor="let technology of technologies" [value]="technology">
          {{technology.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field><br><br>

    <mat-form-field *ngIf="hasSelectedTechnology">
    <mat-select placeholder="Topics"  [(ngModel)]="selectedTopic"  (selectionChange) = "getSubmit()" name="topic">
        <mat-option *ngFor="let topic of topics" [value]="topic">
          {{topic.Name}}
        </mat-option>
      </mat-select><br>
      </mat-form-field><br>

      <div class="button-row" *ngIf="hasSelectedTechnology">
          <button mat-raised-button color="primary" *ngIf="!hasSubmitButtonClicked" routerLink="addtopic" routerLinkActive="active">Add Topic</button>
      </div><br><br>
  
    <div class="button-row">
        <button *ngIf="hasSelectedTopic" mat-raised-button color="primary" (click)="postQuestionsForm()">Submit</button>
    </div>
  </form><br>

  <app-questions *ngIf="hasSubmitButtonClicked"></app-questions>
  

  <div class="button-row">
      <button mat-raised-button color="primary" *ngIf="!hasSubmitButtonClicked" routerLink="addtechnology" routerLinkActive="active">Add Technology</button>
  </div><br><br>
  