<form>
    <mat-form-field>
      <mat-select placeholder="Technology" [(ngModel)]="selectedValue" (selectionChange) = "getTopics()"  name="technology">
        <mat-option *ngFor="let technology of technologies" [value]="technology">
          {{technology.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field><br><br>

    <mat-form-field *ngIf="hasSelectedTechnology">
    <mat-select placeholder="Topics"  [(ngModel)]="selectedTopic"  (selectionChange) = "getSubmit()" name="topic">
        <mat-option *ngFor="let topic of topics" [value]="topic">
          {{topic.Name}}
        </mat-option>
      </mat-select>
    </mat-form-field><br><br>

    <div class="button-row">
        
        <button *ngIf="hasSelectedTopic" mat-raised-button color="warn" (click)="postQuestions()">Submit</button>
    </div>
  </form><br><br><br>

  <app-questions *ngIf="buttonClicked"></app-questions>
  