.inputs{
    display: inline-flex;
    flex-direction: row;
}
.options{
    width: 50%;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
}

mat-form-field{
    width: 90%;
}
button{
    background-color: rgb(33, 158, 207)
}

