<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Question {{id}}
    </mat-panel-title><br><br>
    <mat-panel-description>

    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="example-container">
    <mat-form-field>
      <textarea matInput placeholder="Question goes here!" [formControl]="question" required></textarea>
      <mat-error *ngIf="question.invalid">{{getErrorMessage()}}</mat-error>
      <mat-error *ngIf="question.valid">{{getValidMessage(0)}}</mat-error>

    </mat-form-field>
  </div><br><br>
  <div class="options" *ngFor="let option of options; index as id;">
    <mat-checkbox></mat-checkbox>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="option" [formControl]="option" required>
      <mat-error *ngIf="option.invalid">{{getErrorMessage1(id)}}</mat-error>
      <mat-error *ngIf="option.valid">{{getValidMessage(id + 1)}}</mat-error>
    </mat-form-field><br><br>  
  </div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Give a Resource Link" [formControl]="resourcelink" required>
    <mat-error *ngIf="resourcelink.invalid">{{getErrorMessage5()}}</mat-error>
    <mat-error *ngIf="resourcelink.valid">{{getValidMessage(5)}}</mat-error>
  </mat-form-field><br><br><br>

  <mat-form-field>
    <mat-select [(value)]="selected" placeholder="Give Bloom's Taxanomy Level" [formControl]="bloomlevel" required>
      <mat-error *ngIf="bloomlevel.invalid">{{getErrorMessage6()}}</mat-error>
      <mat-error *ngIf="bloomlevel.valid">{{getValidMessage(6)}}</mat-error>
      <mat-option value="1">Knowledge</mat-option>
      <mat-option value="2">Comprehension</mat-option>
      <mat-option value="3">Application</mat-option>
      <mat-option value="4">Analysis</mat-option>
      <mat-option value="5">Synthesis</mat-option>
      <mat-option value="6">Evaluation</mat-option>
    </mat-select>
  </mat-form-field>

</mat-expansion-panel>