
  .example-header-image {
    background-image: url('../../assets/images/logo.png');
    background-size: cover;
  }

  img{
       height: 60px; 
       width: 60px;
       margin: auto
     
  }

  .flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 20px;
  }
button{
    width: 100%;
    background-color: rgb(33, 158, 207)
}

@media (min-width:426px){
    .flex-container{
        flex-direction: row;
        justify-content: space-around;
      } 
}
