<mat-toolbar color="primary" >
    <mat-toolbar-row class="head">
        <div style="flex-grow: 0.15">
            <img src="assets/images/logo.png" style="background-color: aliceblue;height:70px;width:70px">
        </div>
        <div style="flex-grow: 9.85">
            <span>Add Technology</span>
        </div>
    </mat-toolbar-row>
</mat-toolbar><br><br>

<form class="example-form">
    <mat-form-field class="example-full-width" (keyup.enter)="enter()">
        <input matInput placeholder="Technology Name">
    </mat-form-field><br><br>
    <div class="container" *ngIf="hasPressedEnter">
        <mat-form-field class="topic" *ngFor="let index of topics;let id=index">
            <input matInput placeholder="Topic {{topics[id]}}">
        </mat-form-field>
    </div><br><br>
    <div class="buttons">
    <div class="button-row">
        <button mat-flat-button  id="add" *ngIf="hasPressedEnter" (click)="addTopic()">Add a topic</button><br><br>
    </div>
    <div class="button-row">
        <button mat-flat-button  id="post" *ngIf="hasPressedEnter" (click)="postTechnology()">Submit</button><br><br>
    </div>
    </div>

</form>